PORT=3000
NODE_ENV=development
DATABASE_URL=mysql://root:root@localhost:3306/heirloom

ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET=
ALIYUN_OSS_REGION=oss-cn-shanghai
ALIYUN_OSS_ENDPOINT=
ALIYUN_OSS_CDN_BASE_URL=
ALIYUN_ASR_APP_KEY=
ALIYUN_ASR_REGION=cn-shanghai
ALIYUN_ASR_ENDPOINT=http://speechfiletranscriberlite.cn-shanghai.aliyuncs.com
ALIYUN_ASR_API_VERSION=2021-12-21
